


#namelable{
	font-family:BerenisADFProRegular;
    font-size: 46px;
    text-align:  center;
    margin: 30px 0 0px;}

#underlable{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align:  center;
    margin: 0px 0 13px;}



.menu-main {
  list-style: none;
  margin: 10px 0 5px;
  padding: 5px 0 5px;
  text-align: center;
  background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #70706e;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  	font-family:Fira Sans;
    
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 3px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #000000;}
.menu-main a.current, .menu-main a:hover{color: #5c5c5c;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #5c5c5c;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}











#page-menu { 
  float: right;
  width : 590px; 
  height: 120px; 
  margin : 30px 0 0 0; 
  padding : 0; 
}
ul#menu { 
  margin : 0; 
  padding : 0; 
  overflow: hidden;
} 
ul#menu li { 
  float: left;
  width : 147px; 
  height: 121px; 
  list-style-type : none; 
  margin : 0; 
  padding : 0; 
  display : inline; 
} 






.container {
	 width: 100%;
	 height: auto;
        
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-flow: wrap;    
}

.box {

    margin:0px;
	padding-top: 5px;
	box-sizing: border-box;}

figcaption { 
    text-align: center;}

.center-img {
  height: 487px;
  display: block;
  margin: 0 auto;
  padding: 2px;
  }


#cont {
	padding-top: 3.7%;
}

.sign {
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: Helvetica;
  letter-spacing: 1px;
  margin:  34px 0 0px;
  font-size: 17px;

  }



hr.line1 {
    color: red;
    border: 0;
    height: 1px;
     background: #D8D8D8;
    margin-left: 7%;
    margin-right: 7%;
}

  hr.line2 {
    color: red;
    border: 0;
    height: 4px;
    background: #000000;
    margin-left: 7%;
    margin-right: 7%;
}

hr#line2mainmenu {
      color: red;
    border: 0;
    height: 4px;
    background: #000000;
    margin-left: 1%;
    margin-right: 0.80%;

}

/*----------------------------ПОДВАЛ САЙТА-----------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



footer {
	text-align: center;
	background-color: #333;
	color: #fff;
	padding: 10px;
}

main{
	min-height: calc(100vh - 192px - 46px);
}

/*----------------------------ПОДВАЛ САЙТА-----------------------------*/

/*-------------------------------------PRICE------------------------------ */

#dos{
	padding-top: 1%;
	padding-bottom: 1%;
	font-family:Fira Sans;
    font-weight: 400;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

#lableusl{
    text-align:  center;
    padding-top: 30px;
    font-size: 29px;
}

#r1 {
	padding-left: 7%;
	font-size: 20px;
}

.bblock {
	display: inline-block;
     line-height: 120px;
     font-size: 35px;
     background: #d8d7d8;
     margin-top: 60px;
     width: 320px; 
     margin-right: 10px;
     text-align: center; 
     
    }

.bblockobertka {
	text-align: center;
	background-color: red;

	
}

#r1 {
	padding-top: 3.5%;
    padding-left: 7.7%;


}

#r1 li{
	font-size: 20px;
	font-family:Fira Sans;
	font-weight: lighter;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
.wrapper {	
  margin-left: 7%;
  margin-right: 7%;	
  display: flex;
  justify-content: space-between;
}
 
.item {
  flex-basis: 23%;
  margin: 0px 10px 10px 10px;
}
 
.title {
  font-family:Fira Sans;
  font-weight: 400;
  font-size: 25px;
  font-weight: normal;
  margin: 10px 0;
}
 
.content {
	line-height: 1.5;
  display: flex;
 
  flex-direction: column;
  height: 93%;
  padding:

}
 
.text {
  flex: 1 0 auto;
  font-size: 20px;
  font-weight: lighter;
  font-family:Fira Sans;
}


#paketusl {
	padding-top: 1%;
	font-family:Fira Sans;
    font-size: 29px;
	text-align: center;
}

#hr2 {

    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    margin-bottom: 30px;
}


/*-------------------------------------PRICE------------------------------ */

/*-------------------------------------CONTACTS------------------------------ */

.contacts {
	 width: 100%;
	 height: auto;   
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-flow: wrap; 
    padding-right: 7%;
    padding-left: 7%;
}

.insidecont {
	text-align: justify;
	margin:0px;
	padding-top: 50px;
	margin-right: 50px;
	box-sizing: border-box;
	max-width: 600px;	
 }

 #r2 {


 	line-height: 1.3;
 	font-size: 20px;
	font-family: Fira Sans;
	font-weight: lighter;
 }

  #r4 {
 	line-height: 1.6;
 	font-size: 20px;
	font-family: Fira Sans;
	font-weight: lighter;
 }

#columnthree{
	display: flex;
align-items: flex-end;
}

#picauthor{
	width: 300px;
}

#shadow:hover {
	transition: all 3s;
    color: #eb4034;
    }

/*-------------------------------------CONTACTS------------------------------ */

/*-------------------------------------ARTICLES------------------------------ */


#articlepictures{
	height: 400px;
}
figcaption {
	font-family: Fira Sans;
	font-weight: lighter;
	font-size: 20px;
}

.sign2{
	text-decoration: none;
	color: black;
}

/*-------------------------------------ARTICLES------------------------------ */

#lablearticles{
	text-align:  center;
	font-family:Fira Sans;
    font-weight: 400;
    padding-top: 30px;

    font-size: 30px;
}

#textarticle{
    line-height: 1.6;

	font-size: 20px;
	font-family: Fira Sans;
	font-weight: lighter;
	margin-bottom: 40px;
}

#w1 {
	font-family: Playfair Display;
}

.articlestitl {
	font-weight: 400;
}

/*------------------------------------------------price2------------------------------------*/


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

figure {
  margin: 3px;
  width: 325px;
  height: 400px;
  background-color: #d8d8d8;
  color: black;
  
  display: inline-flex;
  line-height: 1.3;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  position: relative;
}

figure:before {
  content: '';
  position: absolute;
  top: 3%;
  right: 3%;
  bottom: 3%;
  left: 3%;
  border-top: solid 2px;
  border-bottom: solid 2px;
  transition: 0.2s;
  transform: scaleX(0);
}


figure:after {
  content: '';
  position: absolute;
  top: 3%;
  right: 3%;
  bottom: 3%;
  left: 3%;
  border-left: solid 2px;
  border-right: solid 2px;
  transition: 0.2s;
  transform: scaleY(0);
}

figure:hover:before, 
figure:hover:after{
  transform: scale(1);
}

figure:hover h2, 
figure:hover p {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

figure {z-index: 1}


#r3 {
	padding-top: 1.5%;
	padding-left: 7%;
	font-size: 20px;
	padding-left: 7.7%;
}

#r3 li{
	line-height: 1.6;
	font-size: 20px;
	font-family:Fira Sans;
	font-weight: lighter;
}

.lableprice {

	font-size: 26px;
	font-family:Fira Sans;
	font-weight: 500;
  text-overflow: ellipsis ;
  padding: 40px;

}

figure {z-index: 1;}
figcaption{z-index: 2;}

.lableprice2 {
  z-index: 3;
  font-size: 26px;
  font-family:Fira Sans;
  font-weight: 500;
  text-overflow: ellipsis ;
  padding: 40px;

}



.lableprice3 {

  font-size: 26px;
  font-family:Fira Sans;
  font-weight: 500;
  text-overflow: ellipsis ;
  padding: 1px;
}

.lableprice4 {

  font-size: 26px;
  font-family:Fira Sans;
  font-weight: 500;
  text-overflow: ellipsis ;
  padding: 20px;
}

#r34 {
    font-size: 19px;

}


#textcomment {
  width: 260px;
  height: 100px;

}

textarea {
        resize: none;
    }





        #window {
            width: 550px;
            height: 530px;
            margin: 40px auto;
            background: #e3e3e3;
            border: 10px solid #2c3839;
            border-radius: 15px;
            z-index: 150; display: none;
             position: fixed; left: 0;right: 0;top:0;bottom: 0;
        } 
        .form{
            width: 275px; margin: 15px auto 20px auto; text-align: center;} 
        .input{
                width: 260px;padding: 5px; margin-bottom: 10px; } 
        .radio{
            margin-bottom: 10px;} .close{width: 30px; margin: 10px 0 0 490px;cursor: pointer; padding: 2px;} .close:hover{
                background: #ccc; border-radius:7px;} 
        #gray{opacity: 0.8; padding: 15px;
            background-color: rgba(1,1,1,0.75); position: fixed; left: 0;right: 0;top:0;bottom: 0; display: none; z-index:100; overflow: auto; }

        #offerr1 {
          margin-bottom: 10px;
        }


/*button*/

#regButton {
  margin-top: 15px;
  padding: 20px;
  position:relative;
  top:35%;
  display:inline-block;
  padding:0.5rem 1rem;
  border:2px solid black;
  background:none;
  outline:none;
  -webkit-appearance: none;
  font-size:2rem;
  color:black;
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:0.5rem;
  text-indent:0.5rem;
  cursor:pointer;
  transition:
    color 1.5s .5s,
    border 3s 1s;
      font-size: 24px;

  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}
#regButton:before,
#regButton:after {
  content:'';
  position:absolute;
  opacity:0;
  backface-visibility:visible;
  transform-style:preserve-3d;
  perspective:400px;
  transform-origin:50% -50%;
  transform:rotateX(360deg) rotateY(0) translateX(-50%) translateY(0) scale(0.2);
  transition:all 0.5s;
}
#regButton:before {
  top:5px;
  left:50%;
  height:3rem;
  background:white;
  border-top:2rem solid #2980b9;
  border-right:3rem solid transparent;
  border-left:3rem solid transparent;
}
#regButton:after {
  top:0;
  left:50%;
  border-top:2rem solid white;
  border-right:3rem solid transparent;
  border-left:3rem solid transparent;
}
#regButton:hover {
  color:rgba(255,255,255,0);
  border:2px solid rgba(255,255,255,0);
  transition:
    color .25s,
    border .25s;
}
#regButton:hover:before,
#regButton:hover:after {
  opacity:1;
  transform:rotateX(0) rotateY(-10deg) translateX(-50%) translateY(0) scale(1);
}
.fly {
  color:rgba(255,255,255,0);
  border:2px solid rgba(255,255,255,0);
  animation:sended 4s 0.8s forwards;
}
@keyframes sended {
  0% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:0;
    transform:rotate(-45deg) translateX(300%) translateY(-500%);
  }
  5% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:1;
    transform:rotate(-45deg) translateX(0) translateY(0);
  }
  78% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:1;
    transform:rotate(-45deg) translateX(0) translateY(0);
  }
  79% {
    height:2rem;
    width:3.5rem;
    border-top:0;
    border-right:0;
    border-bottom:10px solid white;
    border-left:10px solid white;
    opacity:0;
    transform:rotate(-45deg) translateX(0) translateY(0);
  }
  80% {
    height:auto;
    width:auto;
    color:rgba(255,255,255,0);
    border:2px solid rgba(255,255,255,0);
    opacity:0;
    transform:rotate(0) translateX(0) translateY(0);
  }
  100% {
    height:auto;
    width:auto;
    color:rgba(255,255,255,1);
    border:2px solid rgba(255,255,255,0.5);
    opacity:1;
    transform:rotate(0) translateX(0) translateY(0);
  }
}
.fly:before,
.fly:after {animation:flyout .6s forwards;}
@keyframes flyout {
  0% {
    opacity:1;
    transform:rotateX(0) rotateZ(0) translateX(-50%) translateY(0) scale(1);
  }
  33% {
    opacity:0.66;
    transform:rotateX(0) rotateZ(-5deg) translateX(-100%) translateY(0) scale(1);
  }
  100% {
    opacity:0;
    transform:rotateX(0) rotateZ(0) translateX(1000%) translateY(0) scale(1);
  }
}

/*button2*/

        #sendinfo {
  padding-top: 20px;
  font-size: 19px;
  margin:  20px;
    padding: 15px 34px;
  overflow: hidden;
  font-family: 'Montserrat Alternates', sans-serif;
    color: white;
  letter-spacing: 1px;    
    text-transform: uppercase;
  font-weight: 300;
    border-width: 0;    
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  outline: none;
    cursor: pointer; 
}

#sendinfo {

  background: linear-gradient(90deg, #8a9191, #172e2e);
}

#sendinfo:before, 
#sendinfo:after { 
  
    content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
    height: 100%;
    left: -110%;
    top: 0;
  opacity: 0.1;
  background: black;    
    transform: skewX(25deg);    
  transition: .5s ease;
}
#sendinfo:hover:before {

    left: -10%;
    transition: .3s ease;
}
#sendinfo:hover:after {

    left: -20%;
}


/*------------------slider------------------------*/


.picture {
	height: 700px;
	margin: 20px;
}

.sl {
	margin-left: 7%;
	margin-right: 7%;
}

#shadow {


}

main {
	max-width: 1700px
	margin: 20px auto;

}

.picture {
	height: 700px;
	margin: 20px;
}

/*slider_sample*/


.sliderclass{

  width:1000px;
  margin:20px auto;
  padding:20px;
  color:white;
  
  img{display: block;margin:auto;}
  
}

.picture {
	display: block;
	margin: auto;
}

.slide {
	margin: 3px;
}

.picture2 {
	height: 40px;
	display: inline-block;
	margin
}

/*TITLEANIMATION*/





.containerd {

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 position: relative;
}

.containerd {
  font-size: 20px;
  color: var(--primary-color);

  animation: 1.2s slideIn ease-in-out forwards 1s;
  z-index: 10;
  opacity: 0;
  position: relative;
}





@keyframes skewBg {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes underline {
  100% {
    width: 100%;
  }
}

@keyframes slideIn {
  100% {
    transform: translateY(0px);
    opacity: 10;
  }
}

/*CONTACTSANIMATION*/



}
.mast {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #111;
}



.mast__title {
    line-height: 1.3;
  font-size: 24px;
  font-family:Fira Sans;
  font-weight: lighter;
  white-space: pre;
}
.mast__title span {
  animation: letter-glow 0.7s 0s ease both;
}
.mast__title span:nth-child(1) {
  animation-delay: 0.05s;
}
.mast__title span:nth-child(2) {
  animation-delay: 0.1s;
}
.mast__title span:nth-child(3) {
  animation-delay: 0.15s;
}
.mast__title span:nth-child(4) {
  animation-delay: 0.2s;
}
.mast__title span:nth-child(5) {
  animation-delay: 0.25s;
}
.mast__title span:nth-child(6) {
  animation-delay: 0.3s;
}
.mast__title span:nth-child(7) {
  animation-delay: 0.35s;
}
.mast__title span:nth-child(8) {
  animation-delay: 0.4s;
}
.mast__title span:nth-child(9) {
  animation-delay: 0.45s;
}
.mast__title span:nth-child(10) {
  animation-delay: 0.5s;
}
.mast__title span:nth-child(11) {
  animation-delay: 0.55s;
}
.mast__title span:nth-child(12) {
  animation-delay: 0.6s;
}
.mast__title span:nth-child(13) {
  animation-delay: 0.65s;
}
.mast__title span:nth-child(14) {
  animation-delay: 0.7s;
}
.mast__title span:nth-child(15) {
  animation-delay: 0.75s;
}
.mast__title span:nth-child(16) {
  animation-delay: 0.8s;
}
.mast__title span:nth-child(17) {
  animation-delay: 0.85s;
}
.mast__title span:nth-child(18) {
  animation-delay: 0.9s;
}
.mast__title span:nth-child(19) {
  animation-delay: 0.95s;
}
.mast__title span:nth-child(20) {
  animation-delay: 1s;
}
.mast__title span:nth-child(21) {
  animation-delay: 1.05s;
}
.mast__title span:nth-child(22) {
  animation-delay: 1.1s;
}
.mast__title span:nth-child(23) {
  animation-delay: 1.15s;
}
.mast__title span:nth-child(24) {
  animation-delay: 1.2s;
}
.mast__title span:nth-child(25) {
  animation-delay: 1.25s;
}
.mast__text {
    line-height: 1.3;
  font-size: 20px;
  font-family:Fira Sans;
  font-weight: lighter;
  white-space: pre;
}
.mast__text span {
  animation: letter-glow 0.7s 0s ease both;
}
.mast__text span:nth-child(1) {
  animation-delay: 0.05s;
}
.mast__text span:nth-child(2) {
  animation-delay: 0.1s;
}
.mast__text span:nth-child(3) {
  animation-delay: 0.15s;
}
.mast__text span:nth-child(4) {
  animation-delay: 0.2s;
}
.mast__text span:nth-child(5) {
  animation-delay: 0.25s;
}
.mast__text span:nth-child(6) {
  animation-delay: 0.3s;
}
.mast__text span:nth-child(7) {
  animation-delay: 0.35s;
}
.mast__text span:nth-child(8) {
  animation-delay: 0.4s;
}
.mast__text span:nth-child(9) {
  animation-delay: 0.45s;
}
.mast__text span:nth-child(10) {
  animation-delay: 0.5s;
}
.mast__text span:nth-child(11) {
  animation-delay: 0.55s;
}
.mast__text span:nth-child(12) {
  animation-delay: 0.6s;
}
.mast__text span:nth-child(13) {
  animation-delay: 0.65s;
}
.mast__text span:nth-child(14) {
  animation-delay: 0.7s;
}
.mast__text span:nth-child(15) {
  animation-delay: 0.75s;
}
.mast__text span:nth-child(16) {
  animation-delay: 0.8s;
}
.mast__text span:nth-child(17) {
  animation-delay: 0.85s;
}
.mast__text span:nth-child(18) {
  animation-delay: 0.9s;
}
.mast__text span:nth-child(19) {
  animation-delay: 0.95s;
}
.mast__text span:nth-child(20) {
  animation-delay: 1s;
}
.mast__text span:nth-child(21) {
  animation-delay: 1.05s;
}
.mast__text span:nth-child(22) {
  animation-delay: 1.1s;
}
.mast__text span:nth-child(23) {
  animation-delay: 1.15s;
}
.mast__text span:nth-child(24) {
  animation-delay: 1.2s;
}
.mast__text span:nth-child(25) {
  animation-delay: 1.25s;
}
.mast__text span:nth-child(26) {
  animation-delay: 1.3s;
}
.mast__text span:nth-child(27) {
  animation-delay: 1.35s;
}
.mast__text span:nth-child(28) {
  animation-delay: 1.4s;
}
.mast__text span:nth-child(29) {
  animation-delay: 1.45s;
}
.mast__text span:nth-child(30) {
  animation-delay: 1.5s;
}
.mast__text span:nth-child(31) {
  animation-delay: 1.55s;
}
.mast__text span:nth-child(32) {
  animation-delay: 1.6s;
}
.mast__text span:nth-child(33) {
  animation-delay: 1.65s;
}
.mast__text span:nth-child(34) {
  animation-delay: 1.7s;
}
.mast__text span:nth-child(35) {
  animation-delay: 1.75s;
}
.mast__text span:nth-child(36) {
  animation-delay: 1.8s;
}
.mast__text span:nth-child(37) {
  animation-delay: 1.85s;
}
.mast__text span:nth-child(38) {
  animation-delay: 1.9s;
}
.mast__text span:nth-child(39) {
  animation-delay: 1.95s;
}
.mast__text span:nth-child(40) {
  animation-delay: 2s;
}
.mast__text span:nth-child(41) {
  animation-delay: 2.05s;
}
.mast__text span:nth-child(42) {
  animation-delay: 2.1s;
}
.mast__text span:nth-child(43) {
  animation-delay: 2.15s;
}
.mast__text span:nth-child(44) {
  animation-delay: 2.2s;
}
.mast__text span:nth-child(45) {
  animation-delay: 2.25s;
}
.mast__text span:nth-child(46) {
  animation-delay: 2.3s;
}
.mast__text span:nth-child(47) {
  animation-delay: 2.35s;
}
.mast__text span:nth-child(48) {
  animation-delay: 2.4s;
}
.mast__text span:nth-child(49) {
  animation-delay: 2.45s;
}
.mast__text span:nth-child(50) {
  animation-delay: 2.5s;
}
.mast__text span:nth-child(51) {
  animation-delay: 2.55s;
}
.mast__text span:nth-child(52) {
  animation-delay: 2.6s;
}
.mast__text span:nth-child(53) {
  animation-delay: 2.65s;
}
.mast__text span:nth-child(54) {
  animation-delay: 2.7s;
}
.mast__text span:nth-child(55) {
  animation-delay: 2.75s;
}
.mast__text span:nth-child(56) {
  animation-delay: 2.8s;
}
.mast__text span:nth-child(57) {
  animation-delay: 2.85s;
}
.mast__text span:nth-child(58) {
  animation-delay: 2.9s;
}
.mast__text span:nth-child(59) {
  animation-delay: 2.95s;
}
.mast__text span:nth-child(60) {
  animation-delay: 3s;
}
.mast__text span:nth-child(61) {
  animation-delay: 3.05s;
}
.mast__text span:nth-child(62) {
  animation-delay: 3.1s;
}
.mast__text span:nth-child(63) {
  animation-delay: 3.15s;
}
.mast__text span:nth-child(64) {
  animation-delay: 3.2s;
}
.mast__text span:nth-child(65) {
  animation-delay: 3.25s;
}
.mast__text span:nth-child(66) {
  animation-delay: 3.3s;
}
.mast__text span:nth-child(67) {
  animation-delay: 3.35s;
}
.mast__text span:nth-child(68) {
  animation-delay: 3.4s;
}
.mast__text span:nth-child(69) {
  animation-delay: 3.45s;
}
.mast__text span:nth-child(70) {
  animation-delay: 3.5s;
}
.mast__text span:nth-child(71) {
  animation-delay: 3.55s;
}
.mast__text span:nth-child(72) {
  animation-delay: 3.6s;
}
.mast__text span:nth-child(73) {
  animation-delay: 3.65s;
}
.mast__text span:nth-child(74) {
  animation-delay: 3.7s;
}
.mast__text span:nth-child(75) {
  animation-delay: 3.75s;
}
.mast__text span:nth-child(76) {
  animation-delay: 3.8s;
}
.mast__text span:nth-child(77) {
  animation-delay: 3.85s;
}
.mast__text span:nth-child(78) {
  animation-delay: 3.9s;
}
.mast__text span:nth-child(79) {
  animation-delay: 3.95s;
}
.mast__text span:nth-child(80) {
  animation-delay: 4s;
}
.mast__text span:nth-child(81) {
  animation-delay: 4.05s;
}
.mast__text span:nth-child(82) {
  animation-delay: 4.1s;
}
.mast__text span:nth-child(83) {
  animation-delay: 4.15s;
}
.mast__text span:nth-child(84) {
  animation-delay: 4.2s;
}
.mast__text span:nth-child(85) {
  animation-delay: 4.25s;
}
.mast__text span:nth-child(86) {
  animation-delay: 4.3s;
}
.mast__text span:nth-child(87) {
  animation-delay: 4.35s;
}
.mast__text span:nth-child(88) {
  animation-delay: 4.4s;
}
.mast__text span:nth-child(89) {
  animation-delay: 4.45s;
}
.mast__text span:nth-child(90) {
  animation-delay: 4.5s;
}
.mast__text span:nth-child(91) {
  animation-delay: 4.55s;
}
.mast__text span:nth-child(92) {
  animation-delay: 4.6s;
}
.mast__text span:nth-child(93) {
  animation-delay: 4.65s;
}
.mast__text span:nth-child(94) {
  animation-delay: 4.7s;
}
.mast__text span:nth-child(95) {
  animation-delay: 4.75s;
}
.mast__text span:nth-child(96) {
  animation-delay: 4.8s;
}
.mast__text span:nth-child(97) {
  animation-delay: 4.85s;
}
.mast__text span:nth-child(98) {
  animation-delay: 4.9s;
}
.mast__text span:nth-child(99) {
  animation-delay: 4.95s;
}
.mast__text span:nth-child(100) {
  animation-delay: 5s;
}
.mast__text span:nth-child(101) {
  animation-delay: 5.05s;
}
.mast__text span:nth-child(102) {
  animation-delay: 5.1s;
}
.mast__text span:nth-child(103) {
  animation-delay: 5.15s;
}
.mast__text span:nth-child(104) {
  animation-delay: 5.2s;
}
.mast__text span:nth-child(105) {
  animation-delay: 5.25s;
}
.mast__text span:nth-child(106) {
  animation-delay: 5.3s;
}
.mast__text span:nth-child(107) {
  animation-delay: 5.35s;
}
.mast__text span:nth-child(108) {
  animation-delay: 5.4s;
}
.mast__text span:nth-child(109) {
  animation-delay: 5.45s;
}
.mast__text span:nth-child(110) {
  animation-delay: 5.5s;
}
.mast__text span:nth-child(111) {
  animation-delay: 5.55s;
}
.mast__text span:nth-child(112) {
  animation-delay: 5.6s;
}
.mast__text span:nth-child(113) {
  animation-delay: 5.65s;
}
.mast__text span:nth-child(114) {
  animation-delay: 5.7s;
}
.mast__text span:nth-child(115) {
  animation-delay: 5.75s;
}
.mast__text span:nth-child(116) {
  animation-delay: 5.8s;
}
.mast__text span:nth-child(117) {
  animation-delay: 5.85s;
}
.mast__text span:nth-child(118) {
  animation-delay: 5.9s;
}
.mast__text span:nth-child(119) {
  animation-delay: 5.95s;
}
.mast__text span:nth-child(120) {
  animation-delay: 6s;
}
.mast__text span:nth-child(121) {
  animation-delay: 6.05s;
}
.mast__text span:nth-child(122) {
  animation-delay: 6.1s;
}
.mast__text span:nth-child(123) {
  animation-delay: 6.15s;
}
.mast__text span:nth-child(124) {
  animation-delay: 6.2s;
}
.mast__text span:nth-child(125) {
  animation-delay: 6.25s;
}
.mast__text span:nth-child(126) {
  animation-delay: 6.3s;
}
.mast__text span:nth-child(127) {
  animation-delay: 6.35s;
}
.mast__text span:nth-child(128) {
  animation-delay: 6.4s;
}
.mast__text span:nth-child(129) {
  animation-delay: 6.45s;
}
.mast__text span:nth-child(130) {
  animation-delay: 6.5s;
}
.mast__text span:nth-child(131) {
  animation-delay: 6.55s;
}
.mast__text span:nth-child(132) {
  animation-delay: 6.6s;
}
.mast__text span:nth-child(133) {
  animation-delay: 6.65s;
}
.mast__text span:nth-child(134) {
  animation-delay: 6.7s;
}
.mast__text span:nth-child(135) {
  animation-delay: 6.75s;
}
.mast__text span:nth-child(136) {
  animation-delay: 6.8s;
}
.mast__text span:nth-child(137) {
  animation-delay: 6.85s;
}
.mast__text span:nth-child(138) {
  animation-delay: 6.9s;
}
.mast__text span:nth-child(139) {
  animation-delay: 6.95s;
}
.mast__text span:nth-child(140) {
  animation-delay: 7s;
}
.mast__text span:nth-child(141) {
  animation-delay: 7.05s;
}
.mast__text span:nth-child(142) {
  animation-delay: 7.1s;
}
.mast__text span:nth-child(143) {
  animation-delay: 7.15s;
}
.mast__text span:nth-child(144) {
  animation-delay: 7.2s;
}
.mast__text span:nth-child(145) {
  animation-delay: 7.25s;
}
.mast__text span:nth-child(146) {
  animation-delay: 7.3s;
}
.mast__text span:nth-child(147) {
  animation-delay: 7.35s;
}
.mast__text span:nth-child(148) {
  animation-delay: 7.4s;
}
.mast__text span:nth-child(149) {
  animation-delay: 7.45s;
}
.mast__text span:nth-child(150) {
  animation-delay: 7.5s;
}
.mast__text span:nth-child(151) {
  animation-delay: 7.55s;
}
.mast__text span:nth-child(152) {
  animation-delay: 7.6s;
}
.mast__text span:nth-child(153) {
  animation-delay: 7.65s;
}
.mast__text span:nth-child(154) {
  animation-delay: 7.7s;
}
.mast__text span:nth-child(155) {
  animation-delay: 7.75s;
}
.mast__text span:nth-child(156) {
  animation-delay: 7.8s;
}
.mast__text span:nth-child(157) {
  animation-delay: 7.85s;
}
.mast__text span:nth-child(158) {
  animation-delay: 7.9s;
}
.mast__text span:nth-child(159) {
  animation-delay: 7.95s;
}
.mast__text span:nth-child(160) {
  animation-delay: 8s;
}
.mast__text span:nth-child(161) {
  animation-delay: 8.05s;
}
.mast__text span:nth-child(162) {
  animation-delay: 8.1s;
}
.mast__text span:nth-child(163) {
  animation-delay: 8.15s;
}
.mast__text span:nth-child(164) {
  animation-delay: 8.2s;
}
.mast__text span:nth-child(165) {
  animation-delay: 8.25s;
}
.mast__text span:nth-child(166) {
  animation-delay: 8.3s;
}
.mast__text span:nth-child(167) {
  animation-delay: 8.35s;
}
.mast__text span:nth-child(168) {
  animation-delay: 8.4s;
}
.mast__text span:nth-child(169) {
  animation-delay: 8.45s;
}
.mast__text span:nth-child(170) {
  animation-delay: 8.5s;
}
.mast__text span:nth-child(171) {
  animation-delay: 8.55s;
}
.mast__text span:nth-child(172) {
  animation-delay: 8.6s;
}
.mast__text span:nth-child(173) {
  animation-delay: 8.65s;
}
.mast__text span:nth-child(174) {
  animation-delay: 8.7s;
}
.mast__text span:nth-child(175) {
  animation-delay: 8.75s;
}
.mast__text span:nth-child(176) {
  animation-delay: 8.8s;
}
.mast__text span:nth-child(177) {
  animation-delay: 8.85s;
}
.mast__text span:nth-child(178) {
  animation-delay: 8.9s;
}
.mast__text span:nth-child(179) {
  animation-delay: 8.95s;
}
.mast__text span:nth-child(180) {
  animation-delay: 9s;
}
@keyframes letter-glow {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
  }
  66% {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
  }
  77% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
  }
}


/*maimpage*/

#mainpagepic{
      margin-left: 4.5%;
    margin-right: 4.5%;
    position:relative;
    margin-top: 2%;
    margin-bottom: 2%;
  }


#picfront{
   max-height: 100%;
    max-width: 100%;
}

#hr37 {
        margin-left: 4.5%;
    margin-right: 4.5%;
}

.four {
  
  padding: 50px 20px;
  text-align: center;
} 
.four h1 {
  font-family: 'Merriweather', serif;
  position: relative;
  color: #C44737;
  font-size: 50px;
  font-weight: normal;
  padding: 8px 20px 7px 20px;
  border-top: 4px solid;
  border-left: 4px solid;
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.four h1:before {
  content: ""; 
  position: absolute;
  width: 28px;
  height: 28px;
  top: -28px;
  left: -28px;
  border: 4px solid #C44737;
  box-sizing: border-box;
}
@media (max-width: 450px) {
  .four h1 {font-size: 36px;}
  .four h1:before {
    width: 20px;
    height: 20px;
    top: -20px;
    left: -20px;
  }
}

.linkstext {
  text-decoration: none;
  color: black;
}

/*scroll*/

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 91%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}



/*{
	margin: 0;
	padding: 0;
}

#mainmenuul{
	margin: 100px;
	width: 100%;
	background: #666;
	display: table;
}

#mainmenuul li{

	justify-content: center;
	display: block;
	float: left;
	position: relative;
}



#mainmenuul li a{
	display: block;
	padding: 0 20px;
	height: 50px;
	text-align: center;
	font-family: sans-serif;
	line-height: 49px;
	color: #fff;
	border-right: 1px solid #555;
	text-decoration: none;
	transition: .5s;
}





#mainmenuul li:hover a{
	background: #aaa;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3) insert;
}




#menu li a:hover{
	display: block;
}

#mainmenuul li:hover > ul{
	visibility: visible;
	opacity: 1;
	z-index: 1;
}

@media screen and (max-width: 580px){
	

	#mainmenuul li,
	#mainmenuul li a{
		width: 100%;
		border: none;
		padding-right: 0;
	}

	#mainmenuul li{
		border-bottom: 1px solid #555;
	}



	#mainmenuul{
		width: 100%;
		overflow: hidden;
	}
}

*/



/*nav {
  width:1280px;
  margin: 0 auto;

}

nav:before{
  content:''; 
  display:block;
  height:50px;
  width:100%;
  background:#000;
  position:absolute;
  left:0;
  z-index:-1;
}

ul{
  margin:0;
  padding:0;
  list-style:none;
  height:50px;
  justify-content: space-between;
}

ul li{
  float:left;
}

ul li a{
  color:#fff;
  display:block;
  height:50px;
  padding:0 30px;
  text-transform:uppercase;
  text-decoration:none;
  line-height:50px;
}

ul li a:hover{
  background:#d34d43;
}*/








	@font-face {
			font-family: "BerenisADFProRegular";
			src: url("../fonts/BerenisADFProRegular/BerenisADFProRegular.eot");
			src: url("../fonts/BerenisADFProRegular/BerenisADFProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BerenisADFProRegular/BerenisADFProRegular.woff") format("woff"),
			url("../fonts/BerenisADFProRegular/BerenisADFProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "BerenisADFProBold";
			src: url("../fonts/BerenisADFProBold/BerenisADFProBold.eot");
			src: url("../fonts/BerenisADFProBold/BerenisADFProBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BerenisADFProBold/BerenisADFProBold.woff") format("woff"),
			url("../fonts/BerenisADFProBold/BerenisADFProBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "BerenisADFProItalic";
			src: url("../fonts/BerenisADFProItalic/BerenisADFProItalic.eot");
			src: url("../fonts/BerenisADFProItalic/BerenisADFProItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BerenisADFProItalic/BerenisADFProItalic.woff") format("woff"),
			url("../fonts/BerenisADFProItalic/BerenisADFProItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "BerenisADFProBoldItalic";
			src: url("../fonts/BerenisADFProBoldItalic/BerenisADFProBoldItalic.eot");
			src: url("../fonts/BerenisADFProBoldItalic/BerenisADFProBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BerenisADFProBoldItalic/BerenisADFProBoldItalic.woff") format("woff"),
			url("../fonts/BerenisADFProBoldItalic/BerenisADFProBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	/*---------------FONT---------------*/

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans/FiraSans-Italic.eot');
	src: local('Fira Sans Italic'), local('FiraSans-Italic'),
		url('../fonts/FiraSans/FiraSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSans-Italic.woff') format('woff'),
		url('../fonts/FiraSans/FiraSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans/FiraSans-Bold.eot');
	src: local('Fira Sans Bold'), local('FiraSans-Bold'),
		url('../fonts/FiraSans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSans-Bold.woff') format('woff'),
		url('../fonts/FiraSans/FiraSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans/FiraSansMedium-Italic.eot');
	src: local('Fira Sans Medium Italic'), local('FiraSansMedium-Italic'),
		url('../fonts/FiraSans/FiraSansMedium-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSansMedium-Italic.woff') format('woff'),
		url('../fonts/FiraSans/FiraSansMedium-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans/FiraSansLight.eot');
	src: local('Fira Sans Light'), local('FiraSansLight'),
		url('../fonts/FiraSans/FiraSansLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSansLight.woff') format('woff'),
		url('../fonts/FiraSans/FiraSansLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans/FiraSans.eot');
	src: local('Fira Sans'), local('FiraSans'),
		url('../fonts/FiraSans/FiraSans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSans.woff') format('woff'),
		url('../fonts/FiraSans/FiraSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans/FiraSansMedium.eot');
	src: local('Fira Sans Medium'), local('FiraSansMedium'),
		url('../fonts/FiraSans/FiraSansMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSansMedium.woff') format('woff'),
		url('../fonts/FiraSans/FiraSansMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans/FiraSansLight-Italic.eot');
	src: local('Fira Sans Light Italic'), local('FiraSansLight-Italic'),
		url('../fonts/FiraSans/FiraSansLight-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSansLight-Italic.woff') format('woff'),
		url('../fonts/FiraSans/FiraSansLight-Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/FiraSans/FiraSans-BoldItalic.eot');
	src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'),
		url('../fonts/FiraSans/FiraSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSans/FiraSans-BoldItalic.woff') format('woff'),
		url('../fonts/FiraSans/FiraSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('../fonts/PlayfairDisplay/PlayfairDisplaySC-BlackItalic.eot');
	src: local('Playfair Display SC Black Italic'), local('PlayfairDisplaySC-BlackItalic'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-BlackItalic.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('../fonts/PlayfairDisplay/PlayfairDisplaySC-BoldItalic.eot');
	src: local('Playfair Display SC Bold Italic'), local('PlayfairDisplaySC-BoldItalic'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-BoldItalic.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Italic.eot');
	src: local('Playfair Display SC Italic'), local('PlayfairDisplaySC-Italic'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Italic.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.eot');
	src: local('Playfair Display-Bold Italic'), local('PlayfairDisplay-BoldItalic'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Black.eot');
	src: local('Playfair Display Black'), local('PlayfairDisplay-Black'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Black.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.eot');
	src: local('Playfair Display-Black Italic'), local('PlayfairDisplay-BlackItalic'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot');
	src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot');
	src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Black.eot');
	src: local('Playfair Display SC Black'), local('PlayfairDisplaySC-Black'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Black.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.eot');
	src: local('Playfair Display-Italic'), local('PlayfairDisplay-Italic'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplay-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Bold.eot');
	src: local('Playfair Display SC Bold'), local('PlayfairDisplaySC-Bold'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Bold.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Regular.eot');
	src: local('Playfair Display SC Regular'), local('PlayfairDisplaySC-Regular'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Regular.woff') format('woff'),
		url('../fonts/PlayfairDisplay/PlayfairDisplaySC-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}